@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var urlModal = '@Url.Action("ModalBeneficiario", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/beneficiarios")
    @Scripts.Render("~/bundles/jquery-mask-plugin")
    @Scripts.Render("~/bundles/mascaras")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")