
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlModal = '@Url.Action("ModalBeneficiario", "Cliente", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/beneficiarios")
    @Scripts.Render("~/bundles/jquery-mask-plugin")
    @Scripts.Render("~/bundles/mascaras")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")
